.bannerWrapper {
  width: 100%;
  background-color: rgb(250, 141, 141);
  border: 1px solid black;
  text-align: center;
}
.helDeskLink {
  font-size: 12px;
  text-decoration: underline;
  padding-left: 10px;
  cursor: pointer;
}
